/*
*
* Colors
* 
* Black - #505263
* Purple - #AB5BF3
* Teal - #27DAFB
* Dark purple - #726FD4
* Lavender - #A0B4F7
* Pink - #D1A3FA
* Blue - #5EBAF9
* 
*/

body {
	background-color: #eeeeee;
	background-image: 	radial-gradient(ellipse farthest-corner at 50% 175%, #5EBAF9 25%, rgba(0, 0, 0, 0) 50%),
						radial-gradient(circle farthest-corner at 75% 25%, rgba(114, 111, 212, 0.5) -2%, rgba(0, 0, 0, 0) 15%),
						radial-gradient(ellipse farthest-corner at 0% 0%, #27DAFB 3%, #A0B4F7 33%, #D1A3FA 75%);
	color: #f8f8f8;
	
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 400;
	
	display: block;
	min-height: 100%;
	min-height: 100vh;
}

.ps {
	border: none;
	background-color: rgba(255, 255, 255, 0.4);
	
	cursor: pointer;
	
	transition: background-color 0.2s ease-in-out;
}

.ps:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

.ps:before,
.ps:after
{
	border-color: #A0B4F7;
	background-color: #A0B4F7
}



.container {
	display: block;
	margin: 0 auto;
	width: 40%;
	position: relative;
}

.container:first-of-type {
	margin-top: 10em;
}



.new-item-input {
	background-color: rgba(255, 255, 255, 0.4);
	border: none;
	color: #A0B4F7;
	outline: none;
	
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	line-height: 1;
	font-weight: 500;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	margin-right: 3em;
	padding: 1em 1em;
}

.new-item-button {
	outline: none;
}




.item-list {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.item {
	color: #A0B4F7;
	
	font-size: 1em;
	line-height: 1;
	font-weight: 600;
	
	display: block;
	margin: 0;
	padding: 1em 2em;
	min-height: 1em;
	
	position: relative;
}

.item:before {
	background-color: rgba(255, 255, 255, 0.5);
	
	content: "";
	
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	-webkit-filter: blur(1em);
	-o-filter: blur(1em);
	filter: blur(1em);
}

.item .remove-item-button {
	position: absolute;
	top: 0;
	right: 0;
}