/*
*
* Colors
* 
* Black - #505263
* Purple - #AB5BF3
* Teal - #27DAFB
* Dark purple - #726FD4
* Lavender - #A0B4F7
* Pink - #D1A3FA
* Blue - #5EBAF9
* 
*/

body {
	background-color: #eeeeee;
	background-image: 	radial-gradient(ellipse farthest-corner at 50% 175%, #5EBAF9 25%, rgba(0, 0, 0, 0) 50%),
						radial-gradient(circle farthest-corner at 75% 25%, rgba(114, 111, 212, 0.5) -2%, rgba(0, 0, 0, 0) 15%),
						radial-gradient(ellipse farthest-corner at 0% 0%, #27DAFB 3%, #A0B4F7 33%, #D1A3FA 75%);
	color: #f8f8f8;
	
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 400;
	
	display: block;
	min-height: 100%;
	min-height: 100vh;
}

::-webkit-input-placeholder {
	color: rgba(114, 111, 212, 0.5);
	
	font-weight: 500;
}

::-moz-placeholder {
	color: rgba(114, 111, 212, 0.5);
	
	font-weight: 500;
}

:-moz-placeholder {
	color: rgba(114, 111, 212, 0.5);
	
	font-weight: 500;
}

:-ms-input-placeholder {
	color: rgba(114, 111, 212, 0.5);
	
	font-weight: 500;
}

.ps {
	border: none;
	background-color: rgba(255, 255, 255, 0.4);
	
	cursor: pointer;
	outline: none;
	
	transition: background-color 0.2s ease-in-out;
}

.ps:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

.ps:before,
.ps:after
{
	border-color: #A0B4F7;
	background-color: #A0B4F7;
	
	transition: all 0.3s ease-in-out;
}



.container {
	display: block;
	margin: 2em auto;
	width: 40%;
	position: relative;
}

.container:first-of-type {
	margin-top: 10em;
}



.new-item-input {
	background-color: rgba(255, 255, 255, 0.4);
	border: none;
	color: #726FD4;
	outline: none;
	
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	line-height: 1;
	font-weight: 500;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 1em 3em;
	height: 3em;
	width: 100%;
}

.new-item-button {
	outline: none;
	
	position: absolute;
	top: 0;
	right: 0;
}




.item-list {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.item {
	background-color: rgba(255, 255, 255, 0.4);
	color: #726FD4;
	
	font-size: 1em;
	line-height: 1;
	font-weight: 500;
	
	display: block;
	margin: 1px 0;
	padding: 1em 3em;
	min-height: 1em;
	
	position: relative;
	
	-webkit-animation: list-item-in 0.5s ease-in-out;
	-moz-animation: list-item-in 0.5s ease-in-out;
	-o-animation: list-item-in 0.5s ease-in-out;
	animation: list-item-in 0.5s ease-in-out;
}

.item.completed {
	font-weight: 300;
	text-decoration: line-through;
}

.item .item-indicator {
	background-color: transparent;
	
	position: absolute;
	top: 0;
	left: 0;
}

.item .item-indicator:before,
.item .item-indicator:after
{
	border-color: #726FD4;
	background-color: #726FD4;
}

.item .remove-item-button {
	position: absolute;
	top: 0;
	right: 0;
}




@-webkit-keyframes list-item-in {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-moz-keyframes list-item-in {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-o-keyframes list-item-in {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes list-item-in {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}
